<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Not Found</title>
<link rel="stylesheet" href="/style/404.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <div class="container">
     
    <img src="/images/404.jpg" alt="404 image" class="image">
  </div>
  
   
   <%- include("./partials/footer.ejs") %>
</body>
</html>
